URxvt*scrollBar:                        false
URxvt*transparent:                      false
URxvt*cursorUnderline:                  false
URxvt*cursorBlink:                      false
URxvt*font:                             xft:Fira Code Retina:style=Medium:size=12
URxvt*saveLines:                        10000
URxvt*internalBorder:                   5
URxvt*letterSpace:                      -1

Xft.dpi:	192

Xcursor.theme: breeze_cursors 
Xcursor.size: 32

rofi.lines: 3
rofi.eh: 2
rofi.width: 50
rofi.padding: 40
rofi.bw: 8
rofi.color-normal: #2f343f,#afb8c5,#2f343f,#2f343f,#9575CD
rofi.color-active: #2f343f,#9575CD
rofi.color-window: #2f343f,#2F343F
rofi.font: Fira Code Retina 28
rofi.fixed-num-lines: true

! special
!*.foreground:   #dcdccc
!*.background:   #575757
!*.cursorColor:  #dcdccc
!*.foreground:   #afb8c5
!*.background:   #2f343f
!*.cursorColor:  #afb8c5

! black
!*.color0:       #666666
!*.color8:       #888888

! red
!*.color1:       #ff8278
!*.color9:       #ff8278

! green
!*.color2:       #bde077
!*.color10:      #bde077

! yellow
!*.color3:       #eadc84
!*.color11:      #eadc84

! blue
!*.color4:       #77bee0
!*.color12:      #77bee0

! magenta
!*.color5:       #dd91f3
!*.color13:      #dd91f3

! cyan
!*.color6:       #ffc178
!*.color14:      #ffc178

! white
!*.color7:       #dddddd
!*.color15:      #cccccc

! special
 *.foreground:   #afb8c5
 *.background:   #2f343f
 *.cursorColor:  #afb8c5

! black
 *.color0:       #282a2e
 *.color8:       #373b41

! red
 *.color1:       #cc6666
 *.color9:       #cc6666

! green
 *.color2:       #78d392
 *.color10:      #78d392

! yellow
 *.color3:       #78d3cf
 *.color11:      #78d3cf

! blue
 *.color4:       #788cd3
 *.color12:      #788cd3

! magenta
 *.color5:       #a178d3
 *.color13:      #a178d3

! cyan
 *.color6:       #de9a78
 *.color14:      #de9a78

! white
 *.color7:       #707880
 *.color15:      #afb8c5
