! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*multiClickTime:                 number
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    mode
URxvt*scrollBar:                        false
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*inheritPixmap:                  boolean
URxvt*transparent:                      false
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
URxvt*cursorUnderline:                  false
URxvt*cursorBlink:                      false
! URxvt*pointerBlank:                   boolean
!URxvt*background:                       [85]#F9F9F9
!URxvt*background:                       #F9F9F9
!URxvt*foreground:                       #2F343F
!URxvt*color0:                           #000000
!URxvt*color1:                           #E45649
!URxvt*color2:                           #50A14F
!URxvt*color3:                           #986801
!URxvt*color4:                           #4078F2
!URxvt*color5:                           #A626A4
!URxvt*color6:                           #0184BC
!URxvt*color7:                           #A0A1A7
!URxvt*color8:                           #383A42
!URxvt*color9:                           #E45649
!URxvt*color10:                          #50A14F
!URxvt*color11:                          #986801
!URxvt*color12:                          #4078F2
!URxvt*color13:                          #A626A4
!URxvt*color14:                          #0184BC
!URxvt*color15:                          #FFFFFF
!URxvt*colorBD:                          #A0A1A7
!URxvt*background:			            #1F2127
!URxvt*foreground:                       #989FAC
!URxvt*color0:                           #000000
!URxvt*color1:                           #C46068
!URxvt*color2:                           #90B26C
!URxvt*color3:                           #D2AF72
!URxvt*color4:                           #62A0E3
!URxvt*color5:                           #A66BC9
!URxvt*color6:                           #5FA5B1
!URxvt*color7:                           #ABB2BF
!URxvt*color8:                           #5C6370
!URxvt*color9:                           #C46068
!URxvt*color10:                          #90B26C
!URxvt*color11:                          #D2AF72
!URxvt*color12:                          #62A0E3
!URxvt*color13:                          #A66BC9
!URxvt*color14:                          #5FA5B1
!URxvt*color15:                          #FFFFFF
!URxvt*colorBD:                          #ABB2BF
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color


! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
!URxvt*borderColor:                      #2f343f
! URxvt*iconFile:                       file
URxvt*font:                             xft:Input Mono Narrow:style=Medium:size=10
! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*saveLines:                      number
! URxvt*buffered:                       boolean
!URxvt*depth:                            32
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
!URxvt*externalBorder:                   5
URxvt*internalBorder:                   5
! URxvt*borderLess:                     boolean
! URxvt*lineSpace:                      number
URxvt*letterSpace:                      -1
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
! URxvt*perl-ext-common:                string
! URxvt*perl-ext:                       string
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*kuake.hotkey:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string

Xft.dpi:	192

rofi.lines: 3
rofi.eh: 2
rofi.width: 50
rofi.padding: 40
!rofi.opacity: 90
rofi.bw: 8
!rofi.bc: #D39A78
!rofi.bg: #2f343f
!rofi.fg: #ffffff
!rofi.hlbg: #2f343f
!rofi.hlfg: #9575cd
!rofi.bc: #1E2127
!rofi.bg: #1E2127
!rofi.fg: #5C6370
!rofi.hlbg: #1E2127
!rofi.hlfg: #9575cd
!rofi.color-normal: #1E2127,#5C6370,#1E2127,#1E2127,#9575CD
!rofi.color-active: #1E2127,#9575CD
!rofi.color-window: #1E2127,#1E2127
!rofi.color-normal: #575757,#dcdccc,#575757,#575757,#FFC178
!rofi.color-active: #1E2127,#9575CD
!rofi.color-window: #575757,#575757
rofi.color-normal: #2f343f,#afb8c5,#2f343f,#2f343f,#9575CD
rofi.color-active: #2f343f,#9575CD
rofi.color-window: #2f343f,#2F343F
!#D39A78
rofi.font: Input Mono Narrow 32
rofi.fixed-num-lines: true
!rofi.fullscreen: true

! special
!*.foreground:   #dcdccc
!*.background:   #575757
!*.cursorColor:  #dcdccc
!*.foreground:   #afb8c5
!*.background:   #2f343f
!*.cursorColor:  #afb8c5

! black
!*.color0:       #666666
!*.color8:       #888888

! red
!*.color1:       #ff8278
!*.color9:       #ff8278

! green
!*.color2:       #bde077
!*.color10:      #bde077

! yellow
!*.color3:       #eadc84
!*.color11:      #eadc84

! blue
!*.color4:       #77bee0
!*.color12:      #77bee0

! magenta
!*.color5:       #dd91f3
!*.color13:      #dd91f3

! cyan
!*.color6:       #ffc178
!*.color14:      #ffc178

! white
!*.color7:       #dddddd
!*.color15:      #cccccc

! special
 *.foreground:   #afb8c5
 *.background:   #2f343f
 *.cursorColor:  #afb8c5

! black
 *.color0:       #282a2e
 *.color8:       #373b41

! red
 *.color1:       #cc6666
 *.color9:       #cc6666

! green
 *.color2:       #78d392
 *.color10:      #78d392

! yellow
 *.color3:       #78d3cf
 *.color11:      #78d3cf

! blue
 *.color4:       #788cd3
 *.color12:      #788cd3

! magenta
 *.color5:       #a178d3
 *.color13:      #a178d3

! cyan
 *.color6:       #de9a78
 *.color14:      #de9a78

! white
 *.color7:       #707880
 *.color15:      #afb8c5
